@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html,
    body {
      background-image:url(/images/blob.svg),url(/images/back2_1.svg);
      background-size: 300px, 500px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: right 20%, left 500px;
      padding: 0;
      margin: 0;
      height: 100vh;
      background-color: #F2F2F0;
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }
    * {
      box-sizing: border-box;
    }
}